@model IEnumerable<MovieServiceModel>
@{
    ViewData["Title"] = "Movies";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <div class="row">
        @foreach (var movie in Model)
        {
        <div class="col-md-3 thumbnail-main">
            <a asp-action="MovieDetails" asp-route-id="@movie.Id" />
            <img src="@movie.PosterPath" class="img-fluid movie-poster" alt="Responsive image" asp-action="Details" asp-route-id="@movie.Id">

            <br /><br />
            @if (User.IsInRole(GlobalConstants.AdministratorRole))
            {
                <a class="btn btn-danger" asp-area="Admin" asp-controller="MovieManagement" asp-action="EditMovie" asp-route-id="@movie.Id">Edit</a>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" asp-controller="Movie" asp-action="BuyMovie" asp-route-id="@movie.Id">@movie.Price BGN</a>
            }
        </div>         
        }
    </div>
</div>