@model MovieServiceModel

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container">
    <h1>@Model.Name</h1>
    <div class="row">
        <div class="col-sm-6">
            <img src="@Model.PosterPath" class="img-fluid" alt="Responsive image">
            <br /><br />
        </div>
        <div class="col-sm-6">
            <h3>
                <img src="~/imdb-icon-256-322875901.png" class="imdb-icon" />
                Rating: @Model.Rating
            </h3>
            <div class="video-container">
                <iframe src="@Model.TrailerPath" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <br />
            <article>
                <p>
                    @Model.Summary
                </p>
            </article>
            <a class="btn btn-danger" asp-area="Admin" asp-controller="MovieManagement" asp-action="EditMovie" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
</div>