@model MovieServiceModel

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container">
    <h1>@Model.Name (@Model.Year.Year)</h1>
    <div class="row">
        <div class="col-sm-6">
            <img src="@Model.PosterPath" class="img-fluid" alt="Responsive image">
            <br /><br />
        </div>
        <div class="col-sm-6">
            <h3>
                <img src="~/imdb-icon-256-322875901.png" class="imdb-icon" />
                Rating: @Model.Rating |
                Price: @Model.Price BGN
            </h3>
            <div class="video-container">
                <iframe src="@Model.TrailerPath" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <br />
            <h4 class="text-sm-center header-section-details">Genres</h4>
            @foreach (var genre in Model.Genres)
            {
                <label class="col-form-label">@genre.Genre.Name |</label>
            }
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-sm-center header-section-details">Summary</h4>
            <article>
                <p>
                    @Model.Summary
                </p>
            </article>
        </div>
    </div>
    <br />
    @if (User.Identity.IsAuthenticated && Model.IsPurchased)
    {
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-sm-center header-section-details">Watch movie</h4>
                <video controls>
                    <source src="@Model.VideoPath" type="video/mp4">
                </video>
            </div>
        </div>
        <br />
    }

    <div class="row">
        @if (User.Identity.IsAuthenticated && !Model.IsPurchased)
        {
            <div class="col-sm-6">
                <a class="btn btn-warning btn-lg btn-block" asp-controller="Movie" asp-action="BuyMovie" asp-route-id="@Model.Id">Buy</a>
            </div>
        }
        @if (User.IsInRole(GlobalConstants.AdministratorRole))
        {
            <div class="col-sm-6">
                <a class="btn btn-danger btn-lg btn-block" asp-area="Admin" asp-controller="MovieManagement" asp-action="EditMovie" asp-route-id="@Model.Id">Edit</a>
            </div>
        }
    </div>
    <br /> <br />
    <h4 class="header-section-details">Comments</h4>
    <div class="row">
        <div class="col-sm-6">
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Movie" asp-action="CreateComment" method="post">

                    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" class="form-control" />

                    <div class="form-group">
                        <textarea asp-for="@Model.Comment" rows="6" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Comment" class="text-danger"></span>
                    </div>

                    <button class="btn btn-success btn-lg btn-block">Post</button>
                </form>

            }
        </div>
    </div>
    @foreach (var comment in @Model.Comments)
    {
        <br />
        <div class="row">
            <div class="col-sm-6">
                <div class="media-body">
                    <strong class="text-success">@comment.UserName</strong>
                    <span class="text-muted pull-right">
                        <small class="text-muted">@comment.Date</small>
                    </span>
                </div>
                <div class="container break-text">
                    <p class="text-justify">@comment.Comment</p>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
