@model MovieServiceModel

@{
    ViewData["Title"] = "Movie Detail";
}

<h1>@Model.Name</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="@Model.PosterPath" class="img-fluid" alt="Responsive image">      
        </div>
        <div class="col-sm-6">
            <h3>Rating: @Model.Rating | VideoPath: @Model.VideoPath</h3>
            <div class="video-container">
                <iframe src="@Model.TrailerPath" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <article>
                <p>
                    @Model.Summary
                </p>
            </article>
        </div>
    </div>    
</div>